.hero {
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-color: $background-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-img-480@2.jpg);
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 400px;
    background-size: 480px 400px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-img-768.jpg);
    background-size: 768px 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-img-768@2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    min-width: 1200px;
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-img-1200.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-img-1200@2.jpg);
    }
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-title-color;

  margin-bottom: $second-typical-margin;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}
