.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.logo--header {
  margin-right: 93px;
  padding: 24px 0;
}

.logo--dark {
  color: #000000;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--light {
  color: $main-title-color;
}
