.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.logo--header {
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 24px 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo--dark {
  color: #000000;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--light {
  color: $main-title-color;
}
