.typical-section {
  padding-top: $second-typical-padding;
  padding-bottom: $second-typical-padding;

  @media screen and (min-width: 1200px) {
    padding-top: $typical-padding;
    padding-bottom: $typical-padding;
  }
}
