
  $accent-color: #2196f3;
  $main-title-color: #ffffff;
  $title-color: #212121;
  $text-color: #757575;
  $background-color: #2f303a;
  $second-background-color: #f5f4fa;
  $footer-link-color: rgba(255, 255, 255, 0.6);
  $soc-icon-color: #afb1b8;

  $typical-margin: 50px;
  $second-typical-margin: 30px;
  $typical-padding: 94px;

